body {
    background-color: black;

    .header {
        display: flex;
        justify-content: center;

        h2 {
            margin: 0;
            padding: 20px 0px;
            color: white;
            font-weight: 600;
            font-size: 60px;
        }
    }

    .result {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            color: white;
            margin: 5px 0px 20px;
            font-size: 30px;
        }
    }

    .calculatorBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            width: 80px;
            height: 80px;
            background-color: rgb(240, 240, 240);
            border-radius: 40px;
            font-size: 30px;
            border: none;
            cursor: pointer;
        }

        .gray {
            background-color: rgb(70, 70, 70);
            color: rgb(240, 240, 240);
        }
    }

    .firstLine button, .secondLine button, .thirdLine button, .fourthLine button {
        margin: 0px 3px;
    }

    .clear button {
        height: 80px;
        width: 160px;
        background-color: rgb(70, 70, 70);
        color: white;
    }
}